.card {
  width: 100%;
  padding: 48px;
  border-radius: 40px;
  background-color: #fff7f0ff;
  display: flex;
  justify-content: space-between;

  .body-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 36px;

    .card-header {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .title-container {
        display: flex;
        align-items: center;
        gap: 12px;

        .city-icon-container {
          width: 40px;
          height: 40px;
          background: #ff8f331a;
          border-radius: 12px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: #ff8f33ff;
        }

        .city-name {
          font-size: 48px;
          line-height: 48px;
          font-weight: 900;
          color: #171a1cff;
          transform: translateY(4px);
        }
      }

      .subtitle-container {
        display: flex;
        align-items: center;
        gap: 20px;

        .location-container {
          display: flex;
          align-items: center;
          gap: 6px;
          color: #585e65ff;

          .location-text {
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            transform: translateY(2px);
          }
        }

        .divider {
          width: 1px;
          height: 16px;
          background-color: #dee0e399;
        }

        .satellite-container {
          display: flex;
          align-items: center;
          gap: 6px;
          color: #ff8f33ff;

          .satellite-text {
            font-size: 14px;
            line-height: 20px;
            font-weight: 700;
            transform: translateY(2px);
          }
        }
      }
    }

    .card-body {
      display: flex;
      gap: 32px;
      align-items: center;

      .temperature-container {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .temperature-text {
          font-size: 96px;
          line-height: 96px;
          font-weight: 900;
          color: #171a1cff;
        }

        .unit-text {
          font-size: 14px;
          line-height: 20px;
          font-weight: 700;
          color: #585e65ff;
        }
      }

      .divider {
        width: 1px;
        height: 80px;
        background-color: #ff8f3333;
      }
    }
  }

  .body-right {
    display: flex;
    align-items: center;
    justify-content: center;

    .local-station-time-container {
      width: 240px;
      height: 280px;
      border: 1px solid #ffffff;
      border-radius: 32px;
      background-color: #ffffff99;
      box-shadow:
        0px 4px 8px #00000012,
        0px 0px 0px #171a1f00;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      backdrop-filter: blur(24px);
      -webkit-backdrop-filter: blur(24px);

      .local-station-time-label {
        font-size: 10px;
        line-height: 15px;
        font-weight: 900;
        color: #585e65ff;
      }
    }
  }
}
